<div class="container">
	<div class="row-fluid">
		<hr>
		
		Copyright © 2013 publicranks inc. All rights reserved.
		Use of this site constitutes acceptance of our User Agreement and Privacy Policy. 

		<br>
		<br>
	</div>
<div class="container">