
<!-- NAVBAR
================================================== -->
<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">My Cause Is</a>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <div class="nav-collapse collapse">

          <!-- #nav-right BEGIN -->
          <div id="nav-right" class="pull-right">
            <ul class="nav">
            {{#if user}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name.full}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/create">Create</a></li>
                  <li><a href="/account">Profile</a></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            {{else}}
              <li><a href="/login">Login</a></li>
            {{/if}}
            </ul>
          </div>
          <!-- #nav-right END -->

        </div><!--/.nav-collapse -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

  </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->